{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
	<div><img src="/public/images/juggle.jpg" width="650px" alt="A woman juggling with coloured balls"></div>
	
	<div><p>You need a licence to practice as a juggler in the United Kingdom. </p><p>The <a href="#" class="govuk-link">EU Juggler Licencing Directive</a> no longer applies so you <strong>must</strong> apply for a new licence.</p><p>The licence costs £20 and must be renewed every year.</p><p>The penalty for juggling without a licence is up to 5 years in prison.</p>
	
	</div>

  <p>
    <a href="/start">
        Go to the start page
    </a>
</p>

{% endblock %}
